<% include partials/header %>
<style>
.blog-post {
    width:100%;
    margin-bottom: 30px;
    max-height:500;
}
.container-kamn {
    margin-right: auto;
    margin-left: auto;
}
.header-text {
    position: relative;
    top: 29%;
    font-size: 35px;
    margin-bottom: 40px;
}
.service-features h3 {
    padding-top: 20px;
    margin-bottom: 4px;
}
#banners {
    margin-top: 30px;
    margin-bottom: 10px;
}
    
    .header-text span {
    font-family: 'Allerta Stencil', sans-serif;
    padding: 8px;
    font-weight: bold;
    border-bottom: 2px solid;
}
    body{
        /*background-image: url("http://tdielnieuws.nofmedia.nl/wp-content/uploads/sites/9/2016/05/20160512-vrijwilliger.jpg");*/
      background: rgba(153, 211, 213, 0.32);
      font-size: 15px;
    line-height: 24px;
    /*background-repeat:   no-repeat;*/
    /*background-position: center center;*/
    }
    ul li  {
    list-style: disc;
}
    
  
</style>

<div class="row container-kamn">
        <img src="http://www.yvorg.in/img/slides/young-volunteers-organization-india-3.jpg" class="blog-post" alt="Feature-img" align="right" width="100%"> 
    </div>
    <div id="banners"></div>
<div class="divider col-sm-12 col-xs-12 col-md-12">
            <div class="header-text"><span>About</span> Us</div>
        </div>
        
<div class="container">
                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>Vision</h3>
                                      <hr>

                  </div>

                    <p>Equitable and quality education to achieve sustainable development of all kids in
public schools.
</p>
                  
                </div><!-- END ONE THIRD COLUMN -->

               
<div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>Mission</h3>
<hr>
                  </div>

                    <p>Teach to Transform India is a not for profit company devoted to provide basic
infrastructure in public schools , broaden the horizon of kids through digitization
and connecting them to people from various walks of life.
</p>
                  
                </div>

<div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>Objectives</h3>
<hr>
                  </div>

                    <ul class="list">
<li><p> To fix basic infrastructural issues faced by public schools.</p></li>
<li><p>To connect representatives from schools with passionate contributors.</p></li>
<li><p>Contributions can be in the form of knowledge sharing sessions, digital
devices, books, conducting competitions/events and other essentials.</p></li>

<li><p>The contributor does not provide any kind of monetary assistance to the
NGO.</p></li>
<li><p>If the school needs to avail services such as internet/newspaper, the
contributor will directly pay the service provider thus ensuring complete
transparency and value for your money.</p></li>
</ul>

                  
                </div>

            </div>
    
    <% include partials/footer %> 