<% include partials/header %>
<style>
.blog-post {
    width:100%;
    margin-bottom: 30px;
    max-height:500;
}
.container-kamn {
    margin-right: auto;
    margin-left: auto;
}
.header-text {
    position: relative;
    top: 29%;
    font-size: 35px;
    margin-bottom: 40px;
}
.service-features h3 {
    padding-top: 20px;
    margin-bottom: 4px;
}
#banners {
    margin-top: 30px;
    margin-bottom: 10px;
}
    
    .header-text span {
    font-family: 'Allerta Stencil', sans-serif;
    padding: 8px;
    font-weight: bold;
    border-bottom: 2px solid;
}
    body{
        /*background-image: url("http://tdielnieuws.nofmedia.nl/wp-content/uploads/sites/9/2016/05/20160512-vrijwilliger.jpg");*/
      background: rgba(153, 211, 213, 0.32);
      font-size: 15px;
    line-height: 24px;
    /*background-repeat:   no-repeat;*/
    /*background-position: center center;*/
    }
    
    .footer-widget{
    color:white;
    margin-top: 55px;
}


footer .widget h4 {
    margin-top: 20px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

footer .widget p {
    line-height: 24px;
}

footer .widget i {
    padding-right: 7px;
}
footer{
   margin-top:40px;
   padding: 20px; 
   background: black;
}

footer h3 {
    color: #dadada;
    margin-bottom: 20px;
}

.footer-contact{
    color: white;
}


/*Social Buttons */
#social-icons{
  font-size: 22px;
}

#social-icons .btn-group {
    color: #55CBD2;
    margin-right: 15px;
}
#social-icons .btn-group:hover {
    color: #ffffff;
}
</style>

<div class="row container-kamn">
        <img src="http://www.yvorg.in/img/slides/young-volunteers-organization-india-3.jpg" class="blog-post" alt="Feature-img" align="right" width="100%"> 
    </div>
    <div id="banners"></div>
<div class="divider col-sm-12 col-xs-12 col-md-12">
            <div class="header-text"><span>About</span> Us</div>
        </div>
        
<div class="container">
                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>Vision</h3>
                                      <hr>

                  </div>

                    <p>Equitable and quality education to achieve sustainable development of all kids in
public schools.
</p>
                  
                </div><!-- END ONE THIRD COLUMN -->

               
<div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>Mission</h3>
<hr>
                  </div>

                    <p>Teach to Transform India is a not for profit company devoted to provide basic
infrastructure in public schools , broaden the horizon of kids through digitization
and connecting them to people from various walks of life.
</p>
                  
                </div>

<div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>Objectives</h3>
<hr>
                  </div>

                    <ul>
<li><p style=" z-index: 1; opacity=1;"> To fix basic infrastructural issues faced by public schools.</p></li>
<li><p>To connect representatives from schools with passionate contributors.</p></li>
<li><p>Contributions can be in the form of knowledge sharing sessions, digital
devices, books, conducting competitions/events and other essentials.</p></li>

<li><p>The contributor does not provide any kind of monetary assistance to the
NGO.</p></li>
<li><p>If the school needs to avail services such as internet/newspaper, the
contributor will directly pay the service provider thus ensuring complete
transparency and value for your money.</p></li>
</ul>

                  
                </div>

            </div>
     <footer> 
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3><i class="fa fa-map-marker"></i> Contact:</h3>
                    <p class="footer-contact">
                        Via Ludovisi 39-45, Rome, 54267, Italy<br>
                        Phone: 1.800.245.356 Fax: 1.800.245.357<br>
                        Email: hello@LawOffice.org<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3><i class="fa fa-external-link"></i> Links</h3>
                    <p> <a href="#"> About ( Who we are )</a></p>
                    <p> <a href="#"> Services ( What we do )</a></p>
                    <p> <a href="#"> Contact ( Feel free to contact )</a></p>
                    <p> <a href="#"> Blog ( Write to us )</a></p>
                    <p> <a href="#"> Team ( Meet the Team )</a></p> 
                </div>
              <div class="col-md-4">
                <h3><i class="fa fa-heart"></i> Socialize</h3>
                <div id="social-icons">
                    <a href="#" class="btn-group google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                      <a href="#" class="btn-group linkedin">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                      <a href="#" class="btn-group twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                      <a href="#" class="btn-group facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
              </div>    
        </div>
      </div>
    </footer>
    <% include partials/footer %> 