<% include partials/header %>
<style>
    .heading{    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 340px;
    text-align: "center";
    border-bottom: 1px solid #aaa;
        
    }
    body{
        background-image: url("http://tdielnieuws.nofmedia.nl/wp-content/uploads/sites/9/2016/05/20160512-vrijwilliger.jpg");
        background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    }
</style>
<div class="container" style="z-index: 1 ;position: fixed; ">
              <div class="row" style=" z-index: 1; position: fixed;">
              <div style="width :60%; vertical-align:top; margin:0 auto;z-index: 1; position: fixed;">
                  <div class="jumbotron jumbotron-fluid" style="width :60%;vertical-align:top; overflow-y:scroll; margin:0 auto;z-index: 1; height:500px;position: fixed;top: 150px;right: 240px; opacity: 0.9;">
                  
                     <span class = "heading" >Vision</span>
                     <p style=" z-index: 1; opacity=1;">
Equitable and quality education to achieve sustainable development of all kids in
public schools.</p>

<span class = "heading" >Mission</span>
<p style=" z-index: 1; opacity=1;">
Teach to Transform India is a not for profit company devoted to provide basic
infrastructure in public schools , broaden the horizon of kids through digitization
and connecting them to people from various walks of life.
</p>
<span class = "heading" >Objectives</span>
<ul>
<li><p style=" z-index: 1; opacity=1;"> To fix basic infrastructural issues faced by public schools.</p></li>
<li><p>To connect representatives from schools with passionate contributors.</p></li>
<li><p>Contributions can be in the form of knowledge sharing sessions, digital
devices, books, conducting competitions/events and other essentials.</p></li>

<li><p>The contributor does not provide any kind of monetary assistance to the
NGO.</p></li>
<li><p>If the school needs to avail services such as internet/newspaper, the
contributor will directly pay the service provider thus ensuring complete
transparency and value for your money.</p></li>
</ul>
            </div>
                </div>
             
</div>
     </div>
     
    <% include partials/footer %> 