<% include partials/header %>
<style>
    .heading{    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 340px;
    text-align: "center";
    border-bottom: 1px solid #aaa;
        
    }
    .li{
       
    background-image: url("http://tdielnieuws.nofmedia.nl/wp-content/uploads/sites/9/2016/05/20160512-vrijwilliger.jpg");
    width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
  
            /https://wanderingyogidotcom.files.wordpress.com/2015/09/contact-us-with-blue-background.jpg?w=1180&h=435&crop=1
            https://i1.wp.com/samos-guide.com/wp-content/uploads/2017/02/admin-ajax.jpg?fit=1900%2C700
        }
</style>
<div class="li"></div>
<div class="container" style="z-index: 1 ;position: fixed; ">
              <div class="row" style=" z-index: 1; position: fixed;">
              <div style="width :60%; vertical-align:top; margin:0 auto;z-index: 1; position: fixed;">
                  <div class="jumbotron jumbotron-fluid" style="width :40%;vertical-align:top; margin:0 auto;z-index: 1;position: fixed;top: 150px;right: 240px; opacity: 0.9">
                  
                     <span class = "heading" >Contact U</span>
                     <p style=" z-index: 1; opacity=1;">
Adresss.</p>
<p> phone number</p>
 </div>
                </div>
             
</div>
     </div>
     
    <% include partials/footer %> 