<% include partials/header %>
<style>

    .form-group {
    padding: 0px;
}
.btn-primary {
     margin-left: 0px; 
}

    .heading{    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 340px;
    text-align: "center";
    border-bottom: 1px solid #aaa;
        
    }
    .block-author {
    color: #D7002E;
}
.container-fluid-kamn {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
    
    body{
        /*background-image: url("http://tdielnieuws.nofmedia.nl/wp-content/uploads/sites/9/2016/05/20160512-vrijwilliger.jpg");*/
      background:rgba(153, 211, 213, 0.32);
      font-size: 15px;
    line-height: 24px;
    /*background-repeat:   no-repeat;*/
    /*background-position: center center;*/
    }
    
    .footer-widget{
    color:white;
    margin-top: 55px;
}



.header-text {
    position: relative;
    top: 29%;
    font-size: 35px;
    margin-bottom: 40px;
}
   .header-text span {
    font-family: 'Allerta Stencil', sans-serif;
    padding: 8px;
    font-weight: bold;
    border-bottom: 2px solid;
}
</style>


        <!--End Header -->



        <div class="container-fluid-kamn">
            <div class="row">
                <div>
                    
                    <iframe width="100%" height="450px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0783933822263!2d77.52868661459497!3d12.966835390859012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3dd8fc3c89bb%3A0x4fe78164c5eb23c7!2s6th+Cross+Rd%2C+Govindaraja+Nagar+Ward%2C+Madava+Upanagara%2C+Vijaya+Nagar%2C+Bengaluru%2C+Karnataka+560040%2C+India!5e0!3m2!1sen!2sus!4v1503210911479"></iframe>
                    <br>
                </div>
                </br>
                <div id="banners"></div>
                        <!-- Main Container -->
<div class="divider col-sm-12 col-xs-12 col-md-12">
            <div class="header-text"><span>Contact</span> Us</div>
        </div>
                <div class="col-lg-4 col-lg-offset-1">
                    <h4>Find us at:</h4>
                    <p >No 5 , 1st main 6th cross , amarjyothinagar, </p>
                    <p>Vijayangar, Bangalore 560040</p>
                    <p>Phone: +919686779006</p>
                    <!--<p>Fax: LOL!! FAX</p>-->
                    <em class="block-author">Email:teachtotransformindia@gmail.com </em> <br>
                    <br>
                    <!--<p class="lead">Social Link</p><hr>-->
                    <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                    <!--    <a href="#"><img src="assets/img/social-icons/btn_skype.png" alt="Skype"></a>-->
                    <!--    Call us-->
                    <!--</div>-->
                    <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                    <!--    <a href="#"><img src="assets/img/social-icons/btn_facebook.png" alt="Facebook"></a>-->
                    <!--    Like us-->
                    <!--</div>-->
                    <!--<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">-->
                    <!--    <a href="#"><img src="assets/img/social-icons/btn_twitter.png" alt="Twitter"></a>-->
                    <!--    Follow us-->
                    <!--</div>-->
                    <br>
                </div>
                <div class="col-lg-5">
                    <div class="feedback-form">
          
                        <div id="contact-response"></div>
            
                        <form action="/about" method="post" id="contact-form">
                            <fieldset>
                                <div class="form-group form-group-fullname">
                                    <label class="control-label" for="fullname">NAME *</label>
                                    <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Enter Your Name" required>
                                </div>
                                <div class="form-group form-group-email">
                                    <label class="control-label" for="email">E-MAIL *</label>
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Enter Your E-Mail" required>
                                </div>
                                <div class="form-group form-group-message">
                                    <label class="control-label" for="message" >MESSAGE *</label>
                                    <textarea class="form-control" name="message" id="message" rows="3" required></textarea>
                                </div>           
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                            </fieldset>
                        </form>
                    </div> 
                </div>
            </div>
        </div>    
            
    <!--End Main Container -->


    
    
   


    
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>

  

</body></html>