<% include partials/header %> 
<style>
    .form-group {
    padding: 0px;
}
.btn-primary {
     margin-left: 0px; 
}
</style>
<div class="row">
    <h1 style="text-align: center">Login</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/login" method="post">
        <!--legend>Login</legend-->
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="enter your email id">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </form>
        <a href="/main">Go Back</a> 
        
        <a href="/forgot" style="float:right">Forgot Password</a>
    </div>
</div>

<% include partials/footer %> 


