<%include partials/header %>

        
        
        <style>
        
        .icon-space{
    display: inline-block;
    padding:10px;
}
.current span{
    color:#55CBD2;

}
.navbar-nav  li a {
    padding: 10px 15px;
    margin: 5px 5px;
    border-radius: 4px;
}

body {
  font-size: 15px;
    line-height: 24px;
    
     background: rgba(153, 211, 213, 0.32);
    /*background: #F8FAFF;*/
}
@media (min-width: 1068px) and (max-width: 1400px) { 
 .post-sidebar{
    margin-top: 15px;
    border:1px solid #DDD;
    padding: 5px;
  }
 
}
.services-group {
    padding: 10px;
    background: #061F20;
    color: white;
}
@media (min-width: 750px) and (max-width: 1060px) { 
 .post-sidebar{
    width:204px;
    margin-top: 15px;
    border:1px solid #DDD;
    padding: 5px;
    float: right;

 }
}
.tales {
  width: 100%;
}
.blog-post{
 margin-bottom: 30px;   
}
.blog-image{
    margin-bottom: 20px;
}
.carousel-inner{
  width:100%;
  /*max-height: 500px !important;*/
}
.post-sidebar{
    margin-top: 15px;
    border:1px solid #DDD;
    padding: 5px;
  

 }
 
 .services-section .services-icon {
    color: #1bbd9b;
    margin-bottom: 30px;
}
.form-group{
    
    padding:20px;
}
ul li{
    list-style: none;
}
h3.col-xs-12{
    margin-top: -20px;

}

@media (max-width: 767px){
.services-section .services-group {
    margin-bottom: 50px;
}
}
.content-space{
    margin-top: 40px;
}
.center{
    text-align: center;
}
.block-author{
    color: #D7002E;
}

.btn-info{
float: right;
}


.icon-space{
    display: inline-block;
    padding:10px;
}
.current span{
    color:#55CBD2;

}


.title-text{
  font-family: 'Raleway', sans-serif;  
  letter-spacing: .2px;
  font-size: 40px;
}
.img-pad{
    padding-right: 23px;
}
.main-content{
    margin-top: 80px;
}

.btn-primary {
    background-color: #ff7200;
    /* transition: .5s; */
    padding: 9px 30px;
}

.white-text{
    font-style: italic;
    color: white;
}

.active {
    background: #74B9B9 !important;
    color: white;
}

a {
    color: #55CBD2;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

a:hover { color: #888; text-decoration: none; }

strong { font-weight: bold; }

address {
    margin-top: 28px;
    }


@media (min-width: 50px) and (max-width: 988px) { 
 
 address {
    margin-top: 28px;
    margin-left: 21px;
    }
 
}
@media (min-width: 988px) and (max-width: 1200px) { 
 
 address {
    margin-top: 28px;
    margin-left: -58px;
    }
 
}
.services-section .services-row-tail {
    margin-top: 50px;
}
.services-section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.carousel-inner .item a  img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-global-wrapper:before,
.section-global-wrapper:after {
  content: " ";
  display: table;
}
.section-global-wrapper:after {
  clear: both;
}
.container-fluid-kamn {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-kamn {
  margin-right: auto;
  margin-left: auto;
}
.section-global-wrapper {
  position: relative;
}
.social-media {
    position: fixed;
    top: 24px;
    left: 900px;
    display: -webkit-inline-box;
    margin-bottom: 0;
list-style-type: none;
}
.buttons-vol{
    list-style-type: none;
    display: -webkit-inline-box;
}
.btn-default {
    background: #000000;
    border-color: #000000;
    color: #d6b014;
}

.title-text{
  font-family: 'Raleway', sans-serif;  
  letter-spacing: .2px;
  font-size: 40px;
}
.img-pad{
    padding-right: 23px;
}
.main-content{
    margin-top: 80px;
}

.btn-volunteer {
    padding: 12px 31px !important;
    float: right;
    
    color: #fff;
    position:fixed;
    top:20px;
    right:300px;
    font-size: 12px !important;
    /* font-family: "latoblack",sans-serif !important; */
    font-family: 'Lato', sans-serif;
    font-weight: normal !important;
    background-color:#337ab7 ;
    color: white;
}
.btn-donate {
    padding: 12px 31px !important;
    float: right;
   
    color: #fff;
    position:absolute;
    top:20px;
    right:180px;
    font-size: 12px !important;
    /* font-family: "latoblack",sans-serif !important; */
    font-family: 'Lato', sans-serif;
    font-weight: normal !important;
    background-color:#337ab7 ;
    color: white;
}


@media (max-width: 767px)
{
.carousel-caption {
    font-size: 11px;
    padding-bottom: 0;
    bottom: 0;
}
}
.fa{
    font-size:30px;
}
.fa-5x{
    font-size: 5em;
}
.social-media li a{
    display:block;
}
.social-media li a i {
    margin-right: 28px;
    
}
.note{
    width: 600px;
 height: 300px;
 z-index: 2;
 background-color: #f5f5f5;
 position:relative;
}

 /*img:hover{ z-index: 9999; }*/
/*.header img {
  float: left;
  width: 50px;
  height: 50px;
  
}*/






/*@media (min-width: 1200px){*/

/*.container {*/
/*    width: 1170px;*/
/*}*/
/*}*/
/*@media (min-width: 992px){*/

/*.container {*/
/*    width: 970px;*/
/*}*/
/*}*/
/*@media (min-width: 768px)*/
/*{*/
/*.container {*/
/*    width: 750px;*/
/*}*/
/*}*/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn-primary{
  margin-left: 20px;
}
.blog-title{
  color: #385A30;
  font-family: "Lato";
  font-variant: small-caps;
}

 .main-content{
    margin-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(http://www.msz.gov.pl/resource/a16fc7fa-1b5b-4d27-8fb4-6a65ac2648a2:JCR) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/A7LS7BWQ1V.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://cdn.pixabay.com/photo/2014/04/23/14/47/boy-330582_960_720.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/V8JSA4G4C6.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://www.girlsnotbrides.org/wp-content/uploads/2015/07/2011_08-Girls-running-i-India-Photo-credit-Graham-Crouch%EF%80%A7Girls-Not-Brides.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
.footer-widget{
    color:white;
    margin-top: 55px;
}


footer .widget h4 {
    margin-top: 20px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

footer .widget p {
    line-height: 24px;
}

footer .widget i {
    padding-right: 7px;
}
footer{
   margin-top:40px;
   padding: 20px; 
   background: black;
}

footer h3 {
    color: #dadada;
    margin-bottom: 20px;
}

.footer-contact{
    color: white;
}


/*Social Buttons */
#social-icons{
  font-size: 22px;
}

#social-icons .btn-group {
    color: #55CBD2;
    margin-right: 15px;
}
#social-icons .btn-group:hover {
    color: #ffffff;
}

.carousel-caption {
    position:absolute;
    color: #ffffff;
    padding-top:240px;
    /*padding-bottom:60px;*/
}
/*.overlay {*/
/*    background-color: rgba(41, 39, 34, 0.75);*/
/*    width: 100%;*/
/*    height: 670px;*/
/*}*/

.copyright {
    color: #fff;
    padding: 20px 0px 10px 0px;
    background-color: rgb(23, 23, 23);
}
/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
} 
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    
   
    <!--div class="note" >
        <textarea>
            how are you
            im fine
        </textarea>
    </div-->
    <section id="carousel-section" class="section-global-wrapper"> 
    <div class="overlay">
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class=""></li>
                        <li data-target="#carousel-1" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item">
                            <img src="http://i68.tinypic.com/mvol0k.jpg" height="400" alt="Image of first carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">krmvrkvkl</h3>
                                <p class="carousel-body">
                                                <a href="/login" class="btn btn-primary">LEARN MORE</a>
                                            </p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="https://i.imgur.com/7NxDvV0.jpg" height="400" alt="Image of second carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">cmkjkvkr</h3>
                                <p class="carousel-body">
                                                <a href="/login" class="btn btn-primary">LEARN MORE</a>
                                            </p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item active">
                            <!--[IMG]http://i67.tinypic.com/2hropat.jpg[/IMG]-->
                            <img src="https://i.imgur.com/WLEIDgO.jpg" height="400" alt="Image of third carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs"></h3>
                                <p class="carousel-body">hello</p>
                            
                        </div>
                        <!-- End Slide 3 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </section>
   
    
    
   <div class="container" style="text-align:center;">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
<section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">Our Mission</h3>
                    <p class="services-header-body"><em><b>Teach to Transform India is an NGO that works to build basic infrastructure in public schools,
broaden the horizon of kids through digitization and connecting them to people like you, from
various walks of life. Your time and support is essential to bring about this change  </b></em>  </p><hr>
                </div>
            </div>
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft animated" data-wow-offset="40" style="visibility: visible; animation-name: fadeInLeft;">
                        <p class="services-icon"><span class="fa fa-graduation-cap fa-5x"></span></p>
                        <h4 class="services-title">School Representatives</h4>
                        <p class="services-body">  A platform for representatives from public
         schools (teachers or principals) to share various issues
         plaguing their school.
</p>
                        <p class="services-more"><a href="/findmore/Schoolrep">Find Out More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn animated" data-wow-offset="40" style="visibility: visible; animation-name: zoomIn;">
                        <p class="services-icon"><i class="fa fa fa-heart fa-5x"></i></p>
                        <h4 class="services-title">Contributors</h4>
                        <p class="services-body">Provide a platform for passionate contributors
like you, to connect to public schools and  transform them.
</p>
                        <p class="services-more"><a href="/findmore/Contributor">Find Out More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight animated" data-wow-offset="40" style="visibility: visible; animation-name: fadeInRight;">
                        <p class="services-icon"><span class=" fa fa-eye fa-5x"></span></p>
                        <h4 class="services-title">Complete  Transparency </h4>
                        <p class="services-body">The NGO does not accept any kind of monetary assistance from the contributors. In cases where schools need to avail services  the contributor will directly pay the service provider.</p>
                        
                        <!--<p class="services-more"><a href="#">Find Out More</a></p>-->
                    </div>        
                </div>
            </div>
            <!-- End Serivces Row 1 -->
      
            <!-- Begin Services Row 2 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40" style="visibility: visible; animation-name: none;">
                        <p class="services-icon"><span class="fa fa-wrench fa-5x"></span></p>
                        <h4 class="services-title">Fix infrastructural issues</h4>
                        <p class="services-body">Work with local communities and leaders and BBMP to fix basic infrastructural issues such as water purifiers, fans, lighting , separate toilets for boys and girls , etc..</p>
                        <!--<p class="services-more"><a href="#">Find Out More</a></p>-->
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40" style="visibility: visible; animation-name: none;">
                        <p class="services-icon"><i class="fa fa-laptop fa-5x"></i></p>
                        <h4 class="services-title">Digitisation</h4>
                        <p class="services-body">Install digital devices and set up networks to ensure that each public school
is equipped to pave way for digital learning 
</p>
                        <!--<p class="services-more"><a href="#">Find Out More</a></p>-->
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40" style="visibility: visible; animation-name: none;">
                        <p class="services-icon"><i class="fa fa-users fa-5x"></i></p>
                        <h4 class="services-title">Value Added Curriculum</h4>
                        <p class="services-body">To develop the various facets of personality of kids and help in the development of intellectual, emotional and moral behaviors through extracurricular activities and value add courses.</p>
                        <!--<p class="services-more"><a href="#">Find Out More</a></p>-->
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 2 -->
    
        </div>      
    </section>
<!--<div class="container" style="z-index: 1 ;position: fixed; ">-->
<!--              <div class="row" style=" z-index: 1; position: fixed;">-->
<!--              <div style="width :60%; vertical-align:top; margin:0 auto;z-index: 1; position: fixed;">-->
<!--                  <div class="jumbotron jumbotron-fluid" style="width :60%;vertical-align:top;margin:0 auto;z-index: 1;position: fixed;top: 300px;right: 190px; opacity: 0.9;">-->
<!--                  <p style=" z-index: 1; opacity=1;">Teach to Transform India is an NGO that works to build basic infrastructure in public schools,-->
<!--broaden the horizon of kids through digitization and connecting them to people like you, from-->
<!--various walks of life. Your time and support is essential to bring about this change.</p>-->
<!--            </div>-->
<!--                </div>-->
             
<!--</div>-->
<!--     </div>-->
<!--<ul class="slideshow">-->
<!--      <li></li>-->
<!--      <li></li>-->
<!--      <li></li>-->
<!--      <li></li>-->
<!--      <li></li>-->
<!--    </ul>-->

    

<script type="text/javascript">

    // $('.carousel').carousel({
    //     interval: 3000
    // });

    // $('.carousel').carousel('cycle');
</script>
 
    
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<% include partials/footer %>