<% include partials/header %> 

<style>
.icon-space{
    display: inline-block;
    padding:10px;
}
    .form-group {
    padding: 0px;
}
.btn-primary {
     margin-left: 0px; 
}
</style>

<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="enter your email id">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
            <div class="col-sm-2" ></div>
            <label for="srep" >School representative</label>
        <input type="radio" id="srep" name="role"  value="Schoolrep" required />
        <span class="icon-space"></span>
        <label for="don">Contributor</label>
        <input type="radio" id="don"  name="role" value="Contributor" />
        </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/main">Go Back</a>
    </div>
</div>
<% include partials/footer %>
