<% include partials/header %>
<style>
 body{
        /*background-image: url("http://tdielnieuws.nofmedia.nl/wp-content/uploads/sites/9/2016/05/20160512-vrijwilliger.jpg");*/
      background: rgba(153, 211, 213, 0.32);
      font-size: 15px;
    line-height: 24px;
    /*background-repeat:   no-repeat;*/
    /*background-position: center center;*/
  
    }
.container-kamn {
    margin-right: auto;
    margin-left: auto;
}

#banners {
    margin-top: 30px;
    margin-bottom: 10px;
}

.header-text {
    position: relative;
    top: 29%;
    font-size: 35px;
    margin-bottom: 40px;
}

 .header-text span {
    font-family: 'Allerta Stencil', sans-serif;
    padding: 8px;
    font-weight: bold;
    /*border-bottom: 2px solid;*/
}

.blog-post {
    width:100%;
    margin-bottom: 30px;
    max-height:600;
}
.service-features h3 {
    padding-top: 20px;
    margin-bottom: 4px;
}
.btn-primary {
     margin-left: 0px; 
}
</style>

<div class="row container-kamn">
        <img src="https://images.steelcase.com/image/upload/c_limit,dpr_auto,q_70,h_1024,w_1024/v1463101538/www.steelcase.com/2016/05/13/16-0014911.jpg" class="blog-post" alt="Feature-img" align="right" width="100%"> 
    </div>
    
    <div id="banners"></div>
    
<div class="divider col-sm-12 col-xs-12 col-md-12">
            <div class="header-text"><span>School</span> Represntative</div>
        </div>
        
        <div class="container">
                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>Who can be a school Representative?</h3>
                                      <hr>

                  </div>

                    <p>Any teacher or a principal of a government/aided school can sign up to be a representative
of their school.</p>
<p>The representative is responsible for uploading information regarding the basic
infrastructure issues confronting their school. The representative can also request for
various other resources such as stationaries, digital devices and knowledge sharing or
value added curriculum sessions such as, personal hygiene, moral science, yoga, karate,
etc ...</p>

</div>


        
        
                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>Why register?</h3>
                                      <hr>

                  </div>

                    <p>Onboarding the school to the web portal, would bridge the gap between the schools and the
outside world, ensuring that contributors across the world can actively contribute for the
development of schools.
</p>
</div>


                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>Roles and Responsibilities</h3>
                                      <hr>

                  </div>

                    <p>The representative from the school has to ensure that the
status of infrastructure, basic necessities and value added
sessions are updated on a weekly basis and be proactive
in engaging with the contributors.
</p>
</div>

<div class="col-lg-4 ">
    </br>
</br>
                    <h4>Register your school</h4>
                    <a href="/register" class="btn btn-success">Register</a><br>
                    </br>
                    <h4>-- OR --</h4>
                    </br>
                    
                    <h4>If you already are registered </h4>
                    <a href="/login" class="btn btn-primary">Login</a>
                    
                    <br>
                    
                    <br>
                </div>


</div>
<% include partials/footer %>