<% include partials/header %>
<style>
 body{
        /*background-image: url("http://tdielnieuws.nofmedia.nl/wp-content/uploads/sites/9/2016/05/20160512-vrijwilliger.jpg");*/
      background: rgba(153, 211, 213, 0.32);
      font-size: 15px;
    line-height: 24px;
    /*background-repeat:   no-repeat;*/
    /*background-position: center center;*/
  
    }
.container-kamn {
    margin-right: auto;
    margin-left: auto;
}

#banners {
    margin-top: 30px;
    margin-bottom: 10px;
}

.header-text {
    position: relative;
    top: 29%;
    font-size: 35px;
    margin-bottom: 40px;
}

 .header-text span {
    font-family: 'Allerta Stencil', sans-serif;
    padding: 8px;
    font-weight: bold;
    border-bottom: 2px solid;
}

.blog-post {
    width:100%;
    margin-bottom: 30px;
    max-height:600;
}
.service-features h3 {
    padding-top: 20px;
    margin-bottom: 4px;
}
.btn-primary {
     margin-left: 0px; 
}
ul li  {
    list-style: disc;

</style>

<div class="row container-kamn">
        <img src="https://images.steelcase.com/image/upload/c_limit,dpr_auto,q_70,h_1024,w_1024/v1463101538/www.steelcase.com/2016/05/13/16-0014911.jpg" class="blog-post" alt="Feature-img" align="right" width="100%"> 
    </div>
    
    <div id="banners"></div>
    
<div class="divider col-sm-12 col-xs-12 col-md-12">
            <div class="header-text"><span>Contributor</span></div>
        </div>
        
        <div class="container">
                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>Who can be a Contributor?</h3>
                                      <hr>

                  </div>

                    <p>Any individual who is keen to improve the state of public schools and transform them into
centers of excellence.
</p>
</div>


        
        
                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>Why Contribute?</h3>
                                      <hr>

                  </div>

                    <p>A developed public education system is necessary in the development of intellectual,
emotional and moral behaviors of the young minds of this country. To make this happen,
your time, energy and knowledge is vital, which can pave way for better learning outcomes.
</p>
</div>


                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="service-features">
                                      <h3>How to contirbute?</h3>
                                      <hr>

                  </div>

                    <p>Individuals can login into the portal as a contributor and then choose to contribute to one or
more of the requests raised by the representatives from public schools and also specify the
number of article they would wish to donate.</p>

<ul>
<li><p style=" z-index: 1; opacity=1;">Commodities to improve the infrastructure of the schools such as water purifiers,
toilets, etc..,</p></li>
<li><p>Stationaries such as books , bags, pencils , eraser , etc.,</p></li>
<li><p>Contributions can be in the form of knowledge sharing sessions, digital devices,
books, conducting competitions/events and other essentials.</p></li>

<li>Digital devices (used/unused) such as monitors, CPU, projector, mouse , keyboard,
etc…,</p></li>
<p>If the contributions is any of the above types, the contributors can enter the number
of items they would wish to donate to one or more schools and then submit the form.
After which, they can either purchase new items or donate used ones. If the
contributors have the time and resources to deliver it to schools and then install
them, they can do so, else the Teach to Transform India team collects the articles
from the contributors and then install it in the schools chosen by them.</p>
<li><p>Pay for services such as internet, magazines, newspaper. Since Teach to Transform
India, does not accept monetary contributions directly, if the contribution is of the
above type, contributors can pay the bill amount to the service provider directly, the
details of which will be shared on the portal.
</p></li>
<li><p>Value Added curriculum or events such as sessions on personal hygiene , environmental awareness , art/quiz/dance contests , etc..

</p></li>
<p>
    If the contribution is of the above type, contributors can enter the duration of the session ( in no of hours)  and then submit the form. If the school is digitally equipped, the contributors can choose to take the session virtually else they would have to conduct the session in-person.


</p>
</ul>
<p>
    There is no limit on the number of contributions and the number of schools to which you can contribute .
                        So be the change and go ahead to contribute your valuable time , knowledge and resources. 

</p>

</div>

<div class="col-lg-4 ">
    </br>
</br>
                    <h4>Register to contribute</h4>
                    <a href="/register" class="btn btn-success">Register</a><br>
                    </br>
                    <h4>-- OR --</h4>
                    </br>
                    
                    <h4>If you are alreday registered </h4>
                    <a href="/login" class="btn btn-primary">Login</a>
                    
                    <br>
                    
                    <br>
                </div>


</div>
<% include partials/footer %>

